@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .uinput {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: 1px solid #343829;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 1.25rem;
    background-color: #ebe6de;
  }

  .uinput:focus {
    outline: none;
  }
  .ulabel {
    font-weight: 600;
    margin-bottom: 0.25rem;
  }

  .toast {
    background-color: #ebe6de;
    color: #343829;
    font-weight: 400;
  }
}
